body {
  font-family: sans-serif;
  padding: 2rem;
  background-color: #fafafa;
  margin: 0;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
}

nav button {
  background: none;
  color: white;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

img {
    max-width: 500px;
    max-height: 500px;
}


nav button:hover {
  text-decoration: underline;
}

#content {
  margin-top: 2rem;
}
